<settings>
  <setting propertyKey="@Properties.chainringSize" title="@Strings.chainringSizeTitle" prompt="@Strings.chainringSizePrompt">
    <settingConfig type="numeric" errorMessage="@Strings.chainringSizeError" required="true" min="20" max="64"/>
  </setting>
  <setting propertyKey="@Properties.cogSize" title="@Strings.cogSizeTitle" prompt="@Strings.cogSizePrompt">
    <settingConfig type="numeric" errorMessage="@Strings.cogSizeError" required="true" min="9" max="52"/>
  </setting>
  <setting propertyKey="@Properties.wheelCircumference" title="@Strings.wheelCircumferenceTitle" prompt="@Strings.wheelCircumferencePrompt" helpUrl="https://www.sheldonbrown.com/cyclecomp_f.html">
    <settingConfig type="numeric" errorMessage="@Strings.wheelCircumferenceError" required="true" min="1200" max="2400"/>
  </setting>
  <setting propertyKey="@Properties.version" title="@Strings.versionTitle">
    <settingConfig type="alphanumeric" required="true" readonly="true"/>
  </setting>
</settings>